<% provide(:title, "Slack Aggregator - Suggestion Box") %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <i class="fa fa-team"></i> #Suggestion-Box
    </h1>
  </div>
</div>
<% get_history.each do |message| %>
    <div class="row">
        <div class="col-md-3 chat-avatar">
          <%= image_tag current_user.image, class: "col-md-5", size: "64" %>
        </div>
        <div class="col-md-9 bubble clearfix">
          <div>
            <strong><%= message['username']%></strong>
            <p class="chat-message"><%= message["text"] %><p>
            <p class="pull-right"><%= DateTime.strptime((message["ts"]),"%s")%></p>
          </div>
        </div>
    </div>
<% end %>