// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#land {
  margin: 10%;
  color: #ffffff;
  text-align: center;
}
h1#land {
  font-size: 150%;
  font-weight: bold;
}
.land2 {
  color: deepskyblue;
  font-style: italic;
}
